<footer class="footer">
	<div class="container">
		<div class="footer-inner">
			<div class="footer-item">
				<p>post@agens.no</p>
			</div>
			<div class="footer-item">
				<p>+47 400 06 905</p>
			</div>
			<div class="footer-item">
				<p>NO 988 669 695</p>
			</div>
			<div class="footer-item">
				<svg width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="a" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M38,64 C29.6980523,64 1.29477375e-15,47.14526 0,26 C0,10.6367346 27.3327454,0 42,0 C56.3047103,0 64,28.5397451 64,39 C64,50.14526 48.3135781,64 38,64 Z M40.381479,22.5381479 C38.3457342,20.9477446 35.7835459,20 33,20 C26.372583,20 21,25.372583 21,32 C21,38.627417 26.372583,44 33,44 C35.1857242,44 37.2349624,43.4156335 39,42.3946137 L39,43.4 L45,43.4 L45,23 L40.381479,22.5381479 Z M33,38.3 C29.6862915,38.3 27,35.4793939 27,32 C27,28.5206061 29.6862915,25.7 33,25.7 C36.3137085,25.7 39,28.5206061 39,32 C39,35.4793939 36.3137085,38.3 33,38.3 Z" id="Combined-Shape" fill="#000000"></path></g></svg>
			</div>
		</div>
	</div>
</footer>
