<header class="header">
	<div class="container">
	<div class="header-inner">
		<div class="header-logo">
		<a href="index.html">
			<svg width="113" height="40" xmlns:xlink="http://www.w3.org/1999/xlink" color="#000">
			<defs>
				<path d="M104.431 16.267c1.857 0 3.214-.534 3.214-1.6 0-1.334-2.658-1.798-4.82-2.4-3.43-.955-6.427-2.44-6.427-6.134C96.398 2.4 100.444 0 104.431 0c3.378 0 6.159 1.067 8.033 2.667l-3.48 3.466C107.375 4.8 105.77 4.8 104.43 4.8c-1.874 0-2.677 1.067-2.677 1.6 0 1.333 2.199 1.743 4.552 2.4 2.661.743 6.694 1.867 6.694 5.6 0 3.733-3.749 6.933-8.569 6.933-3.477 0-7.23-1.6-8.568-3.2L99.61 14.4c1.607 1.6 3.481 1.867 4.82 1.867zm-25.17-6.934V20.8h-5.356V2.667L77 2.359C78.644.889 80.879 0 83.545 0c5.86 0 9.64 4.298 9.64 9.6v11.2h-5.356V9.333c0-2.356-1.918-4.266-4.284-4.266-2.366 0-4.284 1.91-4.284 4.266zM55.028 12.8c.802 2.035 2.718 3.467 4.953 3.467 1.342 0 2.57-.517 3.51-1.37l4.594 2.745a10.705 10.705 0 0 1-8.104 3.691c-5.915 0-10.71-4.775-10.71-10.666S54.065 0 59.98 0c5.916 0 10.71 4.776 10.71 10.667 0 .73-.073 1.444-.213 2.133h-15.45zm0-4.267h9.906c-.802-2.034-2.718-3.466-4.953-3.466-2.235 0-4.15 1.432-4.953 3.466zM40.542 19.997a10.697 10.697 0 0 1-5.196 1.336c-5.915 0-10.71-4.775-10.71-10.666S29.43 0 35.345 0c2.484 0 4.771.842 6.588 2.256l4.123.41V21.379C46.057 27.244 41.28 32 35.39 32a10.655 10.655 0 0 1-7.543-3.111l3.771-3.756a5.328 5.328 0 0 0 3.772 1.556c2.945 0 5.333-2.378 5.333-5.311v-.045H40.7v-.444a5.273 5.273 0 0 0-.16-.892zm-5.196-3.73c2.958 0 5.355-2.508 5.355-5.6 0-3.093-2.397-5.6-5.355-5.6-2.958 0-5.355 2.507-5.355 5.6 0 3.092 2.397 5.6 5.355 5.6zM17.299 2.257l4.123.41V20.8h-5.356v-.894a10.696 10.696 0 0 1-5.355 1.427C4.795 21.333 0 16.558 0 10.667S4.795 0 10.71 0c2.485 0 4.772.842 6.59 2.256zm-6.588 14.01c2.958 0 5.355-2.508 5.355-5.6 0-3.093-2.397-5.6-5.355-5.6-2.958 0-5.356 2.507-5.356 5.6 0 3.092 2.398 5.6 5.356 5.6z" id="logoa">
				</path>
			</defs>
			<g fill="none" fill-rule="evenodd">
				<path d="M0 0h113v48H0z"></path>
				<g transform="translate(0 8)">
				<mask id="b" fill="#fff"><use xlink:href="#logoa"></use></mask>
				<g mask="url(#b)">
					<path fill="#000" d="M0 0h113v32H0z"></path>
					<path stroke="#000" stroke-width="2" d="M1 1h111v30H1z"></path>
				</g>
				</g>
			</g>
			</svg>
		</a>
		</div> <!-- header-logo -->
		<nav class="nav">
		<a href="about.html" class="">About</a>
		<!-- <a href="work.html">Work</a> -->
		<a href="join.html">Join</a>
		<a href="contact.html">Contact</a>
		</nav>
	</div> <!-- header-inner -->
	</div> <!-- container -->
</header>
