 <!-- Swiper -->
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="img/slide-1.jpg" alt=""></div>
		<div class="swiper-slide"><img src="img/slide-5.jpg" alt=""></div>
		<div class="swiper-slide"><img src="img/slide-2.jpg" alt=""></div>
		<div class="swiper-slide"><img src="img/slide-4.jpg" alt=""></div>
		<div class="swiper-slide"><img src="img/slide-6.jpg" alt=""></div>
		<div class="swiper-slide"><img src="img/slide-3.jpg" alt=""></div>
	</div>
	<!-- Buttons -->
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div>