 <!-- Swiper -->
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="img/slider-2-1.jpg" alt=""></div>
		<div class="swiper-slide"><img src="img/slider-2-2.jpg" alt=""></div>
		<div class="swiper-slide"><img src="img/slider-2-3.jpg" alt=""></div>
		<div class="swiper-slide"><img src="img/slider-2-4.jpg" alt=""></div>
		<div class="swiper-slide"><img src="img/slider-2-5.jpg" alt=""></div>
		<div class="swiper-slide"><img src="img/slider-2-6.jpg" alt=""></div>
		<div class="swiper-slide"><img src="img/slider-1.jpg" alt=""></div>
	</div>
	<!-- Buttons -->
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div>