*, :before, :after
	box-sizing: border-box
a
	text-decoration: none

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap')

body
	margin: 0
	padding: 0
	font-family: Open Sans, sans-serif

$color-black: #000

@mixin flex-elements
	display: flex
	flex-direction: row
	justify-content: center

@mixin heading-large
	font-size: 1.3rem
	line-height: 2rem
	font-weight: 600
	width: 50%

@mixin p-small
	font-size: 1rem
	line-height: 1.875rem
	font-weight: 500

@mixin margin-block
	margin-top: 150px

@mixin link-arrow
	color: $color-black
	margin-right: 50px
	padding: 10px 10px 10px 0px
	font-size: 1rem
	font-weight: 600
	line-height: 1.5rem
	transition: 0.5s
	&:hover
		padding-left: 10px
		background-color: #ebebf5

.link-arrow
	a
		@include link-arrow

.container
	width: 96%
	max-width: 1120px
	margin: 0 auto

.header
	width: 100%
	top: 0
	left: 0
	margin-bottom: 70px

.header-inner
	display: flex
	align-items: center
	justify-content: space-between
	padding: 35px 0px

.nav
	a
		color: $color-black
		font-size: 1.125rem
		font-weight: 600
		opacity: .7
		margin-left: 3rem
		&:first-child
			margin-left: 0
		&:hover,
		&.active
			transition: opacity .2s
			opacity: 1

.first-block
	height: 750px
	margin-top: -150px
	background: url(../img/bg.png) no-repeat center
	h1
		font-size: 4rem
		line-height: 5rem
		text-align: center
		padding-top: 320px

.features
	h4
		@include heading-large

.features-inner
	display: flex
	flex-direction: row
	justify-content: center
	margin-top: 70px

.features-item
	margin-right: 6.34286%
	width: 33.33333%
	&:last-child
		margin-right: 0
	h1
		@include p-small
	span
		font-weight: 700
		font-size: 0.9rem
	img
		width: 100%
	a
		@include link-arrow

.games
	@include margin-block
	h4
		@include heading-large
		margin-top: 150px
.games-inner
	@include flex-elements
	.block-1
		width: 64.28571%
		z-index: 500
		margin-right: 7.14286%
		width: 64.28571%
		img
			width: 100%
	.block-2
		width: 28.57143%
		img
			margin-left: -270px
			margin-top: 100px
			width: 170%
		h1
			margin-top: -470px
			font-size: 3rem
			line-height: 4rem
		p
			@include p-small
			width: auto
			margin-top: 0

.link-arrow-p
	display: flex

.brands-inner
	@include flex-elements
	align-items: center
.brands-item
	margin-right: 6.34286%
	&:last-child
		margin-right: 0
	img
		width: 100%

.contact
	margin-bottom: 100px
	@include margin-block
	h4
		@include heading-large
		width: 30%

.contact-inner
	@include flex-elements
	margin-top: 60px

.contact-item
	margin-right: 6.34286%
	width: 33.33333%
	&:last-child
		margin-right: 0
	img
		width: 100%
		margin-bottom: 18px
		opacity: 0.7
	h5
		font-size: 1.25rem
		font-weight: 600
		line-height: 2rem
		margin: 0
		padding: 0
	h6
		font-size: 0.9rem
		font-weight: 500
		margin: 10px 0
		padding: 0

footer
	.footer-inner
		display: flex
		justify-content: flex-end
		padding: 35px 0px
		margin-top: 50px
		align-items: center
	p
		@include link-arrow
		padding: 10px
		font-size: 14px
		&:last-child
			margin-right: 0
			background-color: #fff

//-----------------------
// CONTACT US HTML
//-----------------------
.title-row
	display: flex
	.title
		width: 50%
		margin: 0
	.info
		width: 50%
		margin: 0
	h4
		@include heading-large
		margin: 0
		width: 100%
	p
		margin: 0
		padding-bottom: 30px

.title-row-links
	display: flex
	flex-wrap: wrap
	a
		margin-right: 50px
		@include link-arrow

//-----------------------
// ABOUT HTML
//-----------------------
.about-page
	margin-bottom: 100px
	h4
		@include heading-large
		width: 68%
	h1
		font-size: 1.25rem
		font-weight: 600
		line-height: 2rem
	p
		margin: 30px 0px

//-----------------------
// JOIN HTML
//-----------------------
.join
	h4
		@include heading-large
.join-inner
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	gap: 1rem
	a
		margin-bottom: 0
		padding-bottom: 0
figure
	position: relative
	margin: 0
	overflow: hidden
	img
		width: 100%
		vertical-align: top
		opacity: 0.7
	figcaption
		position: absolute
		color: #f9f9f9
		top: 20px
		left: 20px
		z-index: 1
.blackout:after
	content: ' '
	background-color: $color-black
	height: 100%
	left: 0
	opacity: 0.3
	position: absolute
	top: 0
	transition: opacity 0.5s
	width: 100%
.blackout:hover:after
	opacity: 0.7

.lets-talk
	@include margin-block
	h4
		@include heading-large
.button
	background-color: #202024
	border-radius: 2px
	color: #fff
	display: inline-block
	font-size: 1rem
	line-height: 1.5rem
	padding: .825rem 1.5rem
.benefits
	@include margin-block
	h4
		@include heading-large
		width: 100%
		margin-top: 0
	ul
		padding-left: 20px
	li
		font-size: 1rem
		line-height: 1.5rem
		list-style: square
		margin-bottom: 1rem
.benefits-inner
	display: flex
	justify-content: space-between
	align-items: flex-start
.benefits-block-1
	flex: 1
	margin-right: 6%
.benefits-block-2
	flex: 1

.swiper-container
	width: auto
	display: flex
	justify-content: space-between
	height: 500px

.swiper-slide
	font-size: 18px
	background: #fff
	display: flex
	justify-content: space-between
	align-items: center

.swiper-container
	img
		width: 80%
		height: auto
		opacity: 0.8
	.swiper-button-next
		color: $color-black
		width: 2%

	.swiper-button-prev
		color: $color-black
		width: 2%

//-----------------------
// FOR MOBILE
//-----------------------
@media screen and (max-width: 700px)
	@mixin margin-block
		margin-top: 90px
	@mixin h4-size
		width: 100%

	.header-logo
		margin-top: 10px
	.nav
		a
			margin-left: 1rem

	.features
		h4
			@include h4-size

	.first-block
		height: 470px
		margin-top: -120px
		h1
			font-size: 2rem
			padding-top: 200px

	.games
		@include margin-block
		h4
			margin-top: 70px
			@include h4-size
	.games-inner
		.block-1
			width: 50%
		.block-2
			width: 50%
			h1
				font-size: 2rem
				line-height: 2.3rem
				margin-top: 0px
			img
				display: none
	.brands
		@include margin-block

	.about-page
		.features-item
			p
				margin-top: 0px
			h1
				margin-bottom: 5px

	.features-inner
		display: block
	.features-item
		width: 100%
		margin-bottom: 50px
		&:last-child
			margin-bottom: 0px

	.contact
		margin-bottom: 0
		@include margin-block
		h4
			@include h4-size
	.contact-inner
		display: block
	.contact-item
		width: 100%
		margin-bottom: 50px
		img
			margin-bottom: 0px
	.info
		p
			padding-bottom: 5px

	.link-arrow-p
		display: block
		margin: auto
		.link-arrow-w100
			width: 100%
			margin-bottom: 20px

	.join
		h4
			@include h4-size
	.join-inner
		grid-template-columns: 1fr
		gap: 1rem

	.lets-talk
		@include margin-block

	.benefits
		@include margin-block
	.benefits-inner
		display: block
	.benefits-block-2
		margin-top: 50px

	.swiper-container
		height: 200px

	.swiper-slide
		font-size: 18px
		background: #fff
		display: flex
		justify-content: space-between
		align-items: center

	.swiper-container
		img
			width: 100%
			height: auto
		.swiper-button-next
			display: none
		.swiper-button-prev
			display: none

	footer
		.footer-inner
			display: block
			margin-top: 0px
		.footer-item
			text-align: center
			width: 100%
			margin: auto
		p
			padding: 0px
			&:hover
				padding: 0px





// @media screen and (max-width: 700px)
@media screen and (min-width: 1300px)

	.brands
		@include margin-block

	.swiper-container
		@include margin-block
		height: 600px